# Default ignored files
/.idea/workspace.xml
.idea/
itheima_spring_ioc/target
itheima_spring_ioc/itheima_spring_ioc.iml
itheima_spring_ioc_anno/target
itheima_spring_ioc_anno/itheima_spring_ioc_anno.iml
itheima_spring_transcational/target
itheima_spring_transcational/itheima_spring_transcational.iml