# Default ignored files
/.idea/workspace.xml
.idea/
itheima_spring_ioc/target
itheima_spring_ioc/itheima_spring_ioc.iml
itheima_spring_ioc_anno/target
itheima_spring_ioc_anno/itheima_spring_ioc_anno.iml
itheima_spring_transcational/target
itheima_spring_transcational/itheima_spring_transcational.iml
itheima_spring_mvc/target
itheima_spring_mvc/itheima_spring_mvc.iml
itheima_spring_test/target
itheima_spring_test/itheima_spring_test.iml
itheima_spring_test1/target
itheima_spring_test1/itheima_spring_test1.iml
itheima_spring_exception/target
itheima_spring_exception/itheima_spring_exception.iml
out/
itheima_mybatis_quick/target
itheima_mybatis_quick/itheima_mybatis_quick.iml
itheima_mybatis_config/target
itheima_mybatis_config/itheima_mybatis_config.iml
itheima_mybatis_multi/target
itheima_mybatis_multi/itheima_mybatis_multi.iml
itheima_mybatis_anno/target
itheima_mybatis_anno/itheima_mybatis_anno.iml
